<% layout("layouts/boilerplate") %>

<section style="flex-grow: 1;">
    <h1 class="text-center">The Spanish Flashcards App.</h1>
    <div class="flashcards-categories"></div>
</section>

<script src="../javascripts/flashcards-dictionary.js"></script>
<script src="../javascripts/flashcards-main.js"></script>