<!DOCTYPE html>
<html lang="en">

<%- include("../templates/head"); %>

<body>
    <%- include("../templates/navbar") -%>

    <!-- Content will be injected here -->
    <%- body %>

    <%- include("../templates/copyright"); %>
</body>

</html>