<nav>
    <a class="no-decoration" href="/">Main Page</a>
    <a class="no-decoration" href="/hobbies/art-gallery">Art Gallery</a>
    <a class="no-decoration" href="/hobbies/photo-gallery">Photo Gallery</a>
</nav>