<% layout("layouts/boilerplate") %>

<section id="dry-media">
    <h1 class="text-center">The Art Gallery</h1>
    <div id="loader" class="loader"></div>
    <div id="artwork-wrapper" class="dry-media-wrapper"></div>
</section>

<script src="../javascripts/art-gallery.js"></script>