<% layout("layouts/boilerplate") %>

<section>
    <h1 class="text-center">The Photo Gallery</h1>
    <div id="photography-wrapper" class="photo-gallery-wrapper"></div>
</section>

<script src="../javascripts/photo-gallery.js"></script>